{% extends 'home.html' %}
{% block content %}
{% load static %}
<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-6 col-xl-5">
    <div class="card border-0 shadow-sm">
      <div class="card-body p-4 text-center">
        <div class="display-6 text-success mb-2">
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <h5 class="card-title">Notifications resent successfully</h5>
        <p class="card-text text-muted mb-4">
          Email notifications for <strong>{{ trainer.first_name }} {{ trainer.last_name }}</strong> have been resent.
        </p>
        <a href="{% url 'trainer_list' %}" class="btn btn-primary">OK</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
